:root {
  --color-logo: green;
  --color-text: #5e1111;
  --color-primery: #212121;
  --color-contact: #757575;
}

body{
  font-size: 20px;
  font-weight: bolder;
font-style: italic;
}

a {
  text-decoration: none;
}

a {
  /* text-decoration: green wavy underline; */
}

.link {
  margin-right: 20px;
  /* border: 1px solid var(--color-text); */
  margin-bottom: 330px;
  font-weight: normal;
}

header a {
}

nav a {
}

/* Загальні стилі для всіх типів повідомлень */

/*  */

.alert {

}

/* Специфічні стилі для кожного типу */
.success {
  color: var(--color-text);
  background-color: #e6abab;
}

.warning {
  color: var(--color-text);
}

.error {
  color: red;
}

/*=========================== стилі тексту */

.text {
  color: var(--color-text);
}

p a {
  color: var(--color-text);
  text-decoration: none;
}

main a {
  color: rgb(255, 0, 179);
  text-decoration: none;
}

/* ========================================= */

/* селектор тегу */
a {
  color: red;
}

/* селектор класу */
.logo {
  color: green;
}
.content {
  color: rgba(31, 189, 189, 0.493);
}

/* селектор ідентифікатора */
#list {
  color: blue;
}

/* селектор атрибуту */

a [href^="http://"]
{
}

/* Яким буде колір тексту абзаців? */
p {
  color: blue;
  background-color: orange;
}

p {
  color: teal;
}

ul>li {
  color: teal;
}

.nav-main li {
  color: rgb(74, 12, 188);
 
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
#list {
}

[href] {
}

a[werty] .wer {
  color: fuchsia;
}

.hero button {
}

a[href][title][ertyu] {
  /* така властивість спрацює тільки для посилань, */
  color: var(--color-text); /* які одночасно містять атрибути href та title */
}

a,
p,
h1,
h2,
h3 {
  color: aqua;
}
