:root{
--color-logo: green;
--color-text: #5e1111;
--color-primery:#212121;
--color-contact:#757575;
}




a {
  text-decoration: none;
}

a {
  text-decoration: green wavy underline;
}

.link {
  margin-right: 20px;
  border: 1px solid var(--color-text);
  margin-bottom: 330px;
}

header a {
}

nav a {
}

/* Загальні стилі для всіх типів повідомлень */

/*  */

.alert {
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
}

/* Специфічні стилі для кожного типу */
.success {
  color: var(--color-text);
  background-color: #e6abab;
}

.warning {
  color: var(--color-text);
}

.error {
  color: red;
}

/*=========================== стилі тексту */

.text {
  color: var(--color-text);
}

p a {
  color: var(--color-text);
  text-decoration: none;
}

main a {
  color: rgb(255, 0, 179);
  text-decoration: none;
}

/* ========================================= */

/* селектор тегу */
a {
  color: red;
}

/* селектор класу */
.logo {
  color: green;
}
.content{
  color: rgba(31, 189, 189, 0.493);
}

/* селектор ідентифікатора */
#list{
  color:blue
}

/* селектор атрибуту */

 a [href^="http://"]  {

} 



/* Яким буде колір тексту абзаців? */
p {
color: blue;
background-color: orange;
}





p {
color: teal;
}