* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
*,
::after,
::before {
  box-sizing: border-box;
}

svg {
  /* fill: red; */
  /* color: brown; */
}
svg:hover {
  /* fill: rgb(0, 217, 255); */
}

#test {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  background-color: #29d492;
  margin: 0 auto;
  position: relative;
}
.social-list {
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center;
  gap: 20px;
}


.item-icon {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 12px; */
  border-radius: 50%;
  /* background-color: #e30e0e; */
  cursor: pointer;
}

.item-icon:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
}

.relativ{
  position: absolute;
  top: 150px;
  left: 150px;
}
.position{
  position: absolute;
  top: 40%;
  left: 40%;
}

.item-icon:hover {
  background-color: #2196f3;
}
.item-icon:hover .icon {
  fill: #fff;
}

.item-icon > a {
  width: 20px;
  height: 20px;
}

.icon {
  fill: #afb1b8;
}


.logo-1{
  fill: #29d492;
}
.logo-2{
fill: #29d492;
}
.logo-3{
fill: #29d492 !important;
}