
body{
  display: flex;
}
.wrap-animation{
width: 600px;
height: 600px;
border: 1px solid #000;
margin: 0 auto;
}

.animation-img {
  width: 150px;
  height: 150px;
display: block;
/* margin: 100px auto; */
  border-radius: 50%;

  /** налаштування анімації */
  animation-name: logo-animate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.wrap-check-mark{
  width: 600px;
  height: 600px;
  border: 1px solid #000;
  margin: 0 auto;
}

.check-mark{
  border-radius: 50%;

}

@keyframes logo-animate {
  0% {
    /* transform: rotate(0deg); */
  }

  20%{
    transform: translate(450px, 450px);
  }

  40%{
    transform: translateY(450px);
  }

  60%{
    transform: translate(450px, 0);
  }

  80%{
    transform: translate(225px, 225px) scale(1.5);
  }

  100% {
    /* transform: rotate(360deg); */
  }
}

@keyframes check-mark {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.75);
  }
}
