@media (max-width: 768px) {
    nav {
    order: 1;
    }
    
    label {
    display: block;
    height: 30px;
    position: relative;
    top: 15px
    }
    
    label span,
    label span::before,
    label span::after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    position: absolute;
    right: 0;
    transition: .3s;
    }
    
    label span::before {
    top: -8px;
    }
    
    label span::after {
    top: 8px;
    }
    
    .nav_menu {
    display: none;
    }

    input[type="checkbox"]:checked ~ .nav_menu {
        display: flex;
        flex-direction: column;
        }
        

    }
    