$primaryTitle: #333;
$btnText: #fff;
$primaryLogo:#f38181;
$secondLogo:#95e1d3;
$bgLine:#f38181;



// $btnBorderHoverColor:#95e1d3;
// $btnBorderFocusColor:#f38181;
// $btnBorderDefaultColor:#fff;
// $btnBorderDisabledColor:#333;
// $btnBgColor:#000;
// $btnTextColor:#ccc;
