.footer {
  @extend %container;

.footer-copyrigth {
  color: $primaryTitle;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.Laaqiq {
  color: $primaryLogo;
}

.form {}

.form-input {}

.form-btn {
  color: $btnText;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  font-variant: all-small-caps;
}

}