.footer {}

.footer-copyrigth {
  color: #333;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.Laaqiq {
  color: #f38181;
}

.form {}

.form-input {}

.form-btn {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  font-variant: all-small-caps;
}