.header {
    display: flex;
    padding: 17px 0;
    justify-content: space-between;
    align-items: center;
  
  
    .header-logo {
    // color: $secondLogo;
    color: red;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;

    .slice-logo {
      color:$primaryLogo;
    }
  }
  
  
  .header-nav {}
  
  .nav-list {
    display: flex;
    gap: 50px;

  
  .nav-link {
    color: $secondLogo;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;

    &:hover {
      color:$primaryLogo;
    }
  }
  
  .nav-item {}
  
  .nav-link {}
  
}

}