.team {
  @extend %container;
    text-align: center;
    margin-top: 100px;
    
  }
  
  .team-subtitle {
  @extend %subtitle;
  }
  
  .team-title {
  @extend %title;
    margin-top: 17px;
  }
  
  .team-line{
    width: 60px;
    height: 4px;
    background-color: #F38181;
    margin-top: 40px;
    margin-bottom: 65px;
  }
  
  .team-text {
    color: #b6b6b6;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    width: 1104px;
    margin: 0 auto;
  }
  
  .team-list {
    margin-top: 27px;
    display: flex;
    gap: 30px;
  }
  
  .team-item {}
  
  .team-image {
    margin-bottom: 30px;
  }
  
  .team-item-title {
    color: $primaryTitle;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    font-variant: all-small-caps;
    margin-bottom: 11px;
  }
  
  .team-item-text {
    color: #b6b6b6;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
  }