/* % ======= 1. Каскад стилів =============================*/
/* % ======= 2. Специфічність селектора ===================*/

/* $ $ ========Селектори 4-го ============= */

h1 {
}

/* $ ========Селектори 3-го =============
/* Специфічність - 0 0 0 1 */
a {
  color: green;
}

/* Специфічність - 0 0 1 0 */
.post-link {
  /* color: orange; */
}

/* Специфічність - 0 0 1 1 */
a.post-link {
  /* color: blue; */
}

/* Специфічність - 0 0 2 0 */
.post > .post-link {
  /* color: red; */
}

/* ✅ Специфічність - 0 0 2 1 */
.post > a.post-link {
  /* color: brown; */
}

a {
  color: teal;
}

a {
  color: brown;
}

/* Оскільки це правило стоїть нижче, до всіх посилань застосується помаранчевий колір тексту */
.post-link {
  color: orange;
}
/* % ======= 3. Наслідування властивостей =================*/

body {
  color: rgb(47, 243, 8);
  font-size: 16px;
  border: 1px solid #db0b0b;
}

h1 {
  background: #000;
  color: blue;
}

a {
  color: inherit;
}
a:hover {
  color: #db0b0b;
}
/* % ======= 4. Псевдокласи стану та структурні псевдокласи*/
.box {
  /* background-color: #7bd5eb; */
}

.box:hover {
  background-color: #f89b4d;
}

li:first-child {
  color: #f89b4d;
}
li:last-child {
  color: #f84df8;
}
li:nth-child(2n + 3) {
  color: aqua;
  cursor: wait;
}
